.topnav{
    background-color: aqua;
    border-radius: 10px;
    text-decoration: double;
    text-decoration-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    background-color: beige;
  }
  
  .topnav a:hover {
    background-color: aliceblue;
    color: black;
  }

  .topnav a.active {
    background-color: burlywood;
    color: white;
  }

.body {
    text-align: center ;
}

.body h1{
    background-color: burlywood;
    text-shadow: 10px
    ;
}